.signup-container {
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.signup-title {
    font-size: 24px;
    margin-bottom: 20px;
}